<template>
    <div class="stepper">
        <div class="container pt-3 pb-0">
            <div class="row">
                <div class="col col-12 col-md-4 mt-1 d-none d-md-flex">
                    <h5>{{ steps[step - 1].title }}</h5>
                </div>
                <div :class="['col', 'col-6', 'col-md-4', 'text-center', 'steps']">
                    <ul>
                        <li v-for="(n, index) in steps" :key="index" @click="handleStepClick(index + 1, n.viewed)" :class="[{'complete': step > index + 1}, {'current': step == index + 1}, {'viewed': n.viewed }, {'disabled': n.disabled}]"><span>{{ index + 1 }}</span></li>
                    </ul>
                </div>

                <div v-if="back" :class="['col', 'col-6', 'col-md-4', 'text-right', 'btn-col']">
                    <div class="btn-group">
                        <button @click="handleBtnBackClick" type="button" class="btn btn-rounded btn-primary next-btn" :disabled="step == 1">
                            <span>{{ steps[step - 1].back_button || __('stepper.back') }}</span>
                        </button>
                        <button @click="handleBtnNextClick" type="button" class="btn btn-rounded btn-primary next-btn">
                            <div v-if="steps[step - 1].loading" class="spinner-border spinner-border-sm">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span :style="steps[step - 1].loading ? 'opacity: 0': ''">{{ steps[step - 1].button || __('stepper.continue') }}</span>
                        </button>
                    </div>
                </div>

                <div v-if="!back" :class="['col', 'col-6', 'col-md-4', 'text-right', 'btn-col']">
                    <button @click="handleBtnNextClick" type="button" class="btn btn-rounded btn-primary next-btn">
                        <div v-if="steps[step - 1].loading" class="spinner-border spinner-border-sm">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span :style="steps[step - 1].loading ? 'opacity: 0': ''">{{ steps[step - 1].button || __('stepper.continue') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ve-stepper",
    props: {
        steps: {
            type: Array,
            default: 1
        },
        step: {
            type: Number,
            default: 1
        },
        back: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            
        }
    },
    methods: {
        handleBtnBackClick() {
            this.$emit('btn-back-click', true)
        },
        handleBtnNextClick() {
            this.$emit('btn-next-click', true)
        },
        handleStepClick(n, viewed) {
            if(this.step > n || viewed)
                this.$emit('step-click', n)
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
