<template>
<div class="pdf-preview-container">
	<div v-for="(page, i) in pages" :key="i + 'page'">
		<img v-if="page.dataUrl" :class="'pdf-preview-page'+(i?'':' first')" :src="page.dataUrl"/>
	</div>
</div>
</template>

<script>
	export default {
		name: "ve-pdf-viewer",
		props: {
			// String is url support local(test.pdf) and external (https://bla.com/test.pdf)
			// Uint8Array, Blob binary pdfs
			src: {
				type: [String, Uint8Array, Blob],
			},
			// Show only first page showPages = [1]
			showPages: {
				type: Array
			},
			// Extract texts also
			extractText: {
				type: Boolean,
				default: false
			},
			// Ignore getting thumbnails
			noThumbnails: {
				type: Boolean,
				default: false
			},
			// return thumbnail and/or extract texts data on generation
			onPagesData: {
				type: Function,
				default: ()=>{}
			},
		},
		data() {
			return {
				pages: [],
				libsLoaded: false,
				isMounted: false,
				redrawRAF: null
			}
		},
		methods: {
			async onCreated() {
				this.importDependencies()
			},
			async onMounted() {
				this.isMounted = true
			},
			async importDependencies() {
				let self = this
				if(typeof pdfjsLib == 'undefined') {
					if(typeof loadingPDFjs == 'undefined') {
						window.loadingPDFjs = true
						let script = document.createElement('script')
						script.type = 'module'
						document.head.appendChild(script)
						script.onload = ()=>{
							self.libsLoaded = true
							delete window.loadingPDFjs
							pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://unpkg.com/pdfjs-dist@4.0.189/build/pdf.worker.mjs'
						}
						script.src = 'https://unpkg.com/pdfjs-dist@4.0.189/build/pdf.mjs'
						// https://npmcdn.com/pdfjs-dist@2.6.347/build/pdf.js
					} else {
						let attempts = 300
						const pollForLib = ()=>{
							if(attempts--) {
								if(typeof pdfjsLib != 'undefined') {
									self.libsLoaded = true
								} else {
									setTimeout(() => {
										pollForLib()
									}, 100);
								}
							}
						}
						pollForLib()
					}
				} else {
					this.libsLoaded = true
				}
			},
			async redrawPages() {
				if(typeof pdfjsLib != 'undefined' && this.isMounted && this.src) {
					let self = this
					cancelAnimationFrame(this.redrawRAF)
					this.redrawRAF = requestAnimationFrame(async()=>{
						const makePageData = async (page) => {
							let promises = []
							if(!self.noThumbnails) {
								promises.push(makeThumb(page))
							}
							if(self.extractText) {
								promises.push(extractText(page))
							}
							const values = await Promise.all(promises)
							let data = {}
							values.forEach((v)=>{
								data = Object.assign(data, v)
							})
							return data
						}
						const makeThumb = (page) => {
							const vp = page.getViewport(1)
							const canvas = document.createElement("canvas")
							canvas.width = vp.width || Math.abs(vp.viewBox[2]-vp.viewBox[0])
							canvas.height = vp.height || Math.abs(vp.viewBox[3]-vp.viewBox[1])
							const context = canvas.getContext("2d")
							// Flip vertically
							context.translate(0, canvas.height)
							context.scale(1, -1)
							return page.render({
								canvasContext: context,
								viewport: page.getViewport(1)
							}).promise.then(() => {
								context.restore()
								return { 
									dataUrl: canvas.toDataURL(),
									width: canvas.width, 
									height: canvas.height
								}
							})
						}
						const extractText = (page) => {
							return page.getTextContent()
							.then((content)=>{
								return content
							})
						}

						let src = this.src
						if(src instanceof Blob) {
							src = await src.arrayBuffer()
						}

						pdfjsLib.getDocument(src).promise // pdfjsLib.getDocument supports url, Uint8Array
						.then((doc) => {
							let pages = []
							for(let i = 1; i < doc.numPages+1; i++) {
								if(!self.showPages || self.showPages.indexOf(i) != -1) {
									pages.push(i)
								}
							}
							return Promise.all(pages.map((num)=> {
								return doc.getPage(num).then(makePageData)
							})).then((pages)=> {
								if(self.onPagesData) {
									const copyPages = JSON.parse(JSON.stringify(pages))
									self.onPagesData(copyPages)
								}
								self.pages = pages
							})
						}).catch(console.error)
					})
				} else {
					this.pages = []
				}
			},
		},
		watch: {
			isMounted() { this.redrawPages() },
			libsLoaded() { this.redrawPages() },
			src() { this.redrawPages() },
		},
		created() { this.onCreated() },
		mounted() { this.onMounted() },
	}
</script>

<style lang="scss" scoped>
.pdf-preview-container{
	text-align: center;
}
.pdf-preview-page{
	display: inline-block;
	max-width: 100%;
	margin: 10px 0 0 0;
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}
.pdf-preview-page.first{
	margin: 0;
}
</style>