<template>
<div :class="['loader', visible ? 'visible' : '']"
     :style="background ? `background: ${background}` : ''">
	
	<div id="loader-container">
		
		<img id="loader-img"
		     :src="imgSrc"/>
		
		<p v-if="text">{{ text }}</p>
		
		<br>
		
		<slot></slot>
	</div>
</div>
</template>

<script>
export default {
	name: 've-loader',
	props: {
		background: {
			type: String,
			default: '#f4f4f4ff'
		},
		imgSrc: {
			type: String,
			default: '//app.verified.eu/lib/iframes/common/assets/loader64.gif'
		},
		text: {
			type: String,
			default: ''
		},
		visible: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss"
       scoped>

.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 100;
	opacity: 0;
	transition: opacity .5s ease;
	
	&.visible {
		opacity: 1;
	}
	
	& #loader-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-weight: 400;
		
		& #loader-img {
			margin-bottom: 2rem;
		}
	}
}
</style>