<template>
    <ve-select
        searchable
        :options="companies"
        :loading="promises.length > 0"
        @input="handleInput"
        :value="value"
        @on-search="handleSearch"
        @on-select="handleSelect($event.value)"
        :ignore-filter="true"
        :rules="rules"
        :placeholder="placeholder"
        :disabled="disabled"
        :readonly="readonly"
    />
</template>

<script>

import axios from "axios"
import { validate } from "../../validations"
import Select from ".//Select.vue"

export default {
    name: "ve-brreg",
    components: {
        "ve-select": Select
    },
    props: {
        value: [String],
        readonly: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        rules: {
            type: String,
            default: ""
        },
        placeholder: {
            type: String,
            default: ""
        }
    },
    data() {
        return {
            companies: [],
            promises: [],
            validation: { status: true }
        }
    },
    methods: {

        handleInput(e) {
            this.$emit('input', this.value)
        },

        handleSearch(e) {
            if(e && !isNaN(e)) {
                var org = e.toString().replace(/[\.\s]/g,"")
                if ( org.length != 9 ) {
                    this.companies = []
                    return
                }

                var data = []
                
                if (this.checkNr(org)) { 
                    this.companyOrgNoSearch(org)
                    .then(res => {
                        data.push(res.data)
                        this.set(this, "companies", this.format(data))
                    })
                    .finally(() => {
                        setTimeout(() => {
                            this.promises.shift()
                        }, 500) 
                    })
                }
            } else {
                if(e.length >= 2) {

                    this.promises.push({})

                    this.companyNameSearch(e)
                    .then(res => {
                        this.set(this, "companies", this.format(res.data._embedded.enheter))
                    })
                    .finally(() => {
                        setTimeout(() => {
                            this.promises.shift()
                        }, 500) 
                    })
                } else {
                    this.companies = []
                }
            }
        },
		
		    handleSelect(company) {
        	
			    this.$emit('on-select', company)
			    this.$emit('on-select-formatted', this.formatResult(company))
			    
		    },

        companyNameSearch(name) {

            return new Promise((resolve, reject) => {
                axios.get("https://data.brreg.no/enhetsregisteret/api/enheter?page=0&size=10&navn=" + encodeURIComponent(name))
                .then(res => resolve(res))
                .catch(e => { console.log(e) })
            })

        },
        
        companyOrgNoSearch(nr) {

            return new Promise((resolve, reject) => {
                axios.get("https://data.brreg.no/enhetsregisteret/api/enheter/" + encodeURIComponent(nr))
                .then(res => resolve(res))
                .catch(e => { console.log(e) })
            })
        },

        mod11(input) {
            var control = 2, sum = 0;
            for(var i = input.length - 2; i >= 0; --i) {
                sum += input.charAt(i) * control;
                if(++control > 7) control = 2;
            }
            var result = (11 - sum % 11);
            return result === 11 ? 0 : result;
        },

        checkNr(nr) {
            if (!nr) return false
            var check = parseInt(nr.charAt(nr.length - 1), 10)
            return check === this.mod11(nr)
        },

        format(data) {

            if(!data) {
                return
            }

            let companies = []

            for(let org of data) {
                companies.push({
                    text: org.navn,
                    value: org
                })
            }

            return companies
        },

        formatResult(data) {
	
	        data = data || {}
	        let company = {}
	
	        company.name = data.navn
	        company.org_no = String(data.organisasjonsnummer)
	        company.org_form = data.organisasjonsform && data.organisasjonsform.kode
	        company.registration_date = data.registreringsdatoEnhetsregisteret
	
	        if(data.forretningsadresse) {
		        company.address = data.forretningsadresse.adresse && data.forretningsadresse.adresse.toString()
		        company.zip = data.forretningsadresse.postnummer
		        company.town = data.forretningsadresse.poststed
		        company.country = data.forretningsadresse.land;
	        }
	
	        if(data.naeringskode1) {
		        company.business = data.naeringskode1.beskrivelse
		        company.business_code = data.naeringskode1.kode
	        }
	
	        company.inBrReg = true
	        company.inBusinessReg = data.registrertIForetaksregisteret
	        company.inMvaReg = data.registrertIMvaregisteret
	        company.bankrupt = data.konkurs
	        company.liquidation = data.underTvangsavviklingEllerTvangsopplosning
	        company.compulsoryLiquidation = data.underTvangsavviklingEllerTvangsopplosning
	        
	        return company
        }

    }

}
</script>