<template>
<div class="ve-datepicker">
	
	<datepicker v-model="date"
	            :language="dp_lang"
	            :placeholder="placeholder"
	            :format="customFormatter"
	            :disabled="disabled"
	            full-month-name
	            :monday-first="true"
	            :open-date="openDate"
	            :disabledDates="disabledDates"
	            :input-class="'calendar-icon form-control' + ((validation.status) ? ' is-valid' : ' is-invalid')"
	></datepicker>
	
	<div class="custom-invalid-feedback"
	     v-if="!validation.status">
		{{ __(validation.key, validation.args) }}
	</div>
	
	<input class="hackerman"
	       ref="field"/>
</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { nbNO, sv, en, da } from 'vuejs-datepicker/dist/locale'
import { validate } from "../../validations"

export default {
	name: "ve-datepicker",
	props: {
		value: {
			type: String,
			default: ""
		},
		placeholder: {
			type: String,
			default: "Velg dato"
		},
		rules: {
			type: String,
			default: ""
		},
		required: {
			type: Boolean,
			default: false
		},
		language: {
			type: String,
			default: "en"
		},
		disabled: {
			type: Boolean,
			default: false
		},
		format: {
			type: String,
			default: "numeric"
		},
		outputISO: {
			type: Boolean,
			default: false
		},
		debug: {
			type: Boolean,
			default: false
		},
		openDate: Date,
		disabledDates: Object
	},
	components: {
		Datepicker
	},
	data() {
		return {
			dp_lang: nbNO,
			date: null,
			validation: { status: true },
			loopCount: 0,
			exitLoop: false
		}
	},
	
	watch: {
		
		date: {
			deep: true,
			handler(val) {
				
				if(this.debug) console.log("date changed to " + this.date)
				
				if(this.outputISO)
					this.$emit('input', this.formatDate(this.date, 'sv', 'numeric'))
				else
					this.$emit('input', this.formatDate(this.date, this.language, this.format))
				
				this.performValidation()
			}
		},
		
		value: {
			deep: true,
			handler(val) {
				this.loopCount += 1
				if(this.loopCount > 10) {
					console.warn("something is wrong with ve-datepicker")
					this.loopCount = 0
					return
				}
				if(this.debug) console.log("value changed to " + this.value)
				this.date = this.parseDate(this.value)
			}
		},
		
		language: function() {
			this.updateLang()
		}
	},
	
	methods: {
		
		performValidation() {
			const value = (this.date && !isNaN(this.date.getTime())) ? 'ok' : ''
			
			this.validation = validate(value, this.rules)
			
			if(this.validation.status) {
				this.$refs.field.setCustomValidity("")
			}
			else {
				this.$refs.field.setCustomValidity(this.validation.message)
			}
		},
		
		customFormatter(date) {
			return this.formatDate(this.date, this.language, this.format)
		},
		
		getMonthNumber(name) {
			return this.dp_lang.months.indexOf(this.dp_lang.months.find((month) => name.includes(month))) + 1
		},
		
		leadingZero(value) {
			if(Number(value) < 10)
				return '0' + value.toString()
			else
				return value
		},
		
		parseDate(value) {
			
			if(this.debug) console.log('pd: ' + value)
			let year, month, day
			if(value.includes('-')) {
				// Swedish / ISO numeric
				if(this.debug) console.log('pd: SE/ISO numeric')
				const itm = value.split('-')
				year = itm[0]
				month = itm[1]
				day = itm[2]
			}
			else if(value.includes('.')) {
				// Norwegian / Danish
				if(value.includes(' ')) {
					// long
					if(this.debug) console.log('pd: NO/DA long')
					const itm = value.split('.')
					const itx = itm[1].replace(' ', '').split(' ')
					year = itx[1]
					month = this.getMonthNumber(itx[0])
					day = itm[0]
				}
				else {
					// numeric
					if(this.debug) console.log('pd: NO numeric')
					const itm = value.split('.')
					year = itm[2]
					month = itm[1]
					day = itm[0]
				}
			}
			else if(value.includes('/')) {
				// English numeric
				if(this.debug) console.log('pd: EN numeric')
				const itm = value.split('/')
				year = itm[2]
				month = itm[1]
				day = itm[0]
			}
			else if(value.includes(' ')) {
				// English / Swedish long
				if(this.debug) console.log('pd: EN/SE long')
				const itm = value.split(' ')
				year = itm[2]
				month = this.getMonthNumber(itm[1])
				day = itm[0]
			}
			
			if(this.debug) console.log('pd: y=' + year + ' m=' + month + ' d=' + day)
			let pd = new Date(Date.UTC(year, month - 1, day))
			if(this.debug) console.log('pd: ', pd)
			
			return pd
		},
		
		formatDate(date, lang, format) {
			
			if(this.debug) console.log('fd: l=' + lang + ' f=' + format + ' d=' + date.toISOString().slice(0, 10))
			if(this.debug) console.log('fd: y=' + date.getFullYear() + ' m=' + date.getMonth() + ' d=' + date.getDate())
			
			if(lang.toLowerCase().includes('no') || lang.toLowerCase().includes('da'))
				if(format === 'numeric')
					return this.leadingZero(date.getDate()) + '.' + this.leadingZero(date.getMonth() + 1) + '.' + date.getFullYear()
				else
					return this.leadingZero(date.getDate()) + '. ' + this.dp_lang.months[date.getMonth()] + ' ' + date.getFullYear()
			else if(lang.toLowerCase().includes('sv'))
				if(format === 'numeric')
					return date.getFullYear() + '-' + this.leadingZero(date.getMonth() + 1) + '-' + this.leadingZero(date.getDate())
				else
					return date.getDate() + ' ' + this.dp_lang.months[date.getMonth()] + ' ' + date.getFullYear()
			else if(lang.toLowerCase().includes('en'))
				if(format === 'numeric')
					return date.getDate() + '/' + Number(date.getMonth() + 1) + '/' + date.getFullYear()
				else
					return date.getDate() + ' ' + this.dp_lang.months[date.getMonth()] + ' ' + date.getFullYear()
		},
		
		updateLang() {
			if(this.language.toLowerCase().includes('no'))
				this.dp_lang = nbNO
			else if(this.language.toLowerCase().includes('da'))
				this.dp_lang = da
			else if(this.language.toLowerCase().includes('sv'))
				this.dp_lang = sv
			else
				this.dp_lang = en
		}
	},
	
	mounted() {
		
		this.updateLang()
		
		if(this.value)
			this.date = this.parseDate(this.value)
		
		this.performValidation()
	}
}
</script>

<style lang="scss">

.hackerman {
	position: absolute;
	visibility: hidden;
}

.calendar-icon {
	padding-right: 10px;
	background-image: url("../../assets/calendar-grey.png");
	background-repeat: no-repeat;
	background-position: 98% 50%;
	cursor: pointer !important;
}

.ve-datepicker {
	& .form-control.is-valid {
		border-color: #ced4da !important;
		background-image: url("../../assets/calendar-grey.png") !important;
	}
	
	& .form-control.is-invalid {
		border-color: #ced4da !important;
		background-image: url("../../assets/calendar-grey.png") !important;
	}
}

.was-validated {
	& .ve-datepicker .form-control:valid, .form-control.is-valid {
		border-color: #218bcb !important;
		background-image: url("../../assets/calendar-blue.png") !important;
	}
	
	& .ve-datepicker .calendar-icon.is-invalid {
		border-color: #b62537 !important;
		background-image: url("../../assets/calendar-red.png") !important;
	}
}

</style>