<template>
    <div>
        <div class="dropdown">
            <input @focus="!searchable ? $event.target.blur() : () => {}" ref="field" @input="handleInput" :value="value" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :readonly="readonly" :disabled="disabled">
            <div v-if="!validation.status" class="invalid-feedback">
                {{ __(validation.key, validation.args) }}
            </div>
            <div v-show="items_to_show.length > 0" class="dropdown-menu">
                <span @click="handleSelect(items_to_show[index])" v-for="(item, index) in items_to_show" :key="index" class="dropdown-item">{{ getTextFromItem(item) }}</span>
            </div>
        </div>
    </div>
</template>

<script>

import { validate } from "../../validations"

export default {
    name: "ve-dropdown",
    props: {
        value: [String],
        items: {
            type: Array,
            default: () => { return [] }
        },
        searchable: {
            type: Boolean,
            default: false
        },
        readonly: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        rules: {
            type: String,
            default: ""
        }
    },
    data() {
        return {
            items_to_show: [],
            validation: { status: true }
        }
    },
    methods: {

        getTextFromItem(item) {

            if(item instanceof Object) {
                return item.text || "..."
            }

            return item

        },

        handleInput(e) {

            this.performValidation(e.srcElement.value)

            let condition = (x) => {
                let text = x instanceof Object ? x.text : x
                return text.toLowerCase().includes(e.srcElement.value.toLowerCase())
            }

            this.items_to_show = this.searchable ? this.items.filter(condition) : this.items

            this.$emit('input', e.srcElement.value)

        },

        handleSelect(value) {
            
            this.performValidation(value instanceof Object ? value.text : value)
            this.$emit('input', value instanceof Object ? value.text : value)
            this.$emit('on-select', value)

        },

        performValidation(value) {

            this.validation = validate(value, this.rules)

            if(this.validation.status) {
                this.$refs.field.setCustomValidity("") 
            }
            else {
                this.$refs.field.setCustomValidity(this.validation.message)
            }
                
        },

    },

    watch: { 
      	items: {
            deep: true,
            handler(val) {
                this.items_to_show = val
            }
        }
    },

    created() {
        console.log("ve-dropdown is deprecated, use ve-select instead")
        this.items_to_show = this.items
    },

    mounted() {
        this.performValidation(this.value)
    }
}
</script>

<style scoped>

.dropdown {
    width: 100%;
}

</style>
