<template>
<div>
    
    <input ref="field"
           @input="handleInput"
           :value="value"
           v-mask="mask"
           :type="type"
           :disabled="disabled"
           :readonly="readonly"
           :placeholder="placeholder"
           class="form-control"
           :autocomplete="autocomplete">
    
    <div v-if="!validation.status"
         class="invalid-feedback">{{ __(validation.key, validation.args) }}
    </div>

</div>
</template>

<script>
import { validate } from "../../validations"

export default {
    name: 've-input',
    
    props: {
        value: [String, Number],
        type: String,
        rules: {
            type: String,
            default: ''
        },
        placeholder: {
            type: String,
            default: ''
        },
        mask: {
            type: null,
            default: ''
        },
        dictionary: {
            type: Object,
            default: null
        },
        disabled: {
            type: Boolean,
            default: false
        },
        readonly: {
            type: Boolean,
            default: false
        },
        autocomplete: {
            type: String,
            default: ''
        },
        blurvalidate: {
            type: Boolean,
            default: false
        }
    },
    
    data() {
        return {
            validation: { status: true }
        }
    },
    
    methods: {
        
        handleInput(e) {
            
            this.performValidation(e.srcElement.value)
            
            this.$emit('input', e.srcElement.value)
            
            if(this.dictionary) {
                if(this.dictionary[e.srcElement.value]) {
                    this.$emit('on-dictionary-match', this.dictionary[e.srcElement.value])
                }
            }
        },
        
        performValidation(value) {
            
            this.validation = validate(value, this.rules)
            
            if(this.validation.status) {
                this.$refs.field.setCustomValidity('')
            }
            else {
                this.$refs.field.setCustomValidity(this.validation.message)
            }
        },
        
        validateFieldOnBlur() {
            
            let field = this.$refs.field
            
            field.addEventListener('blur', onBlur, { passive: true })
            
            function onBlur() {
                field.parentNode.classList.add('was-validated')
                field.removeEventListener('blur', onBlur)
            }
        },

        emitBlurEvents() {

            let self = this
            let field = this.$refs.field
            
            field.addEventListener('blur', function onBlur() {
                self.$emit('on-blur', self)
            }, { passive: true })
        }
    },
    
    watch: {
        value: {
            deep: true,
            handler(val) {
                this.performValidation(val)
            }
        }
    },
    
    mounted() {
        
        this.performValidation(this.value)
        
        if(this.blurvalidate)
            this.validateFieldOnBlur()
        
        if(this.$listeners['on-blur'])
            this.emitBlurEvents()
    }
}
</script>

<style lang="scss"
       scoped>

</style>
