<template>
  <div>
      <div
      v-on-clickaway="hideDropdown"
      @keyup.esc="onEscape"
      @keydown.up.prevent="typeAheadUp"
      @keydown.down.prevent="typeAheadDown"
      @keydown.enter.prevent="typeAheadSelect"
      class="v-select"
      :class="{'disabled': disabled}">

      <button @click="toggle" type="button" :class="['v-select-toggle', isValid() ? 'dropdown-valid' : 'dropdown-invalid']">
        <div class="v-select-title">{{ title }}</div>
        <div class="arrow-down"></div>
      </button>

      <div v-show="show" class="v-dropdown-container">
        <div v-show="searchable" class="v-bs-searchbox">
          <i v-if="icon && !loading" :style="'color:' + iconColor" :class="['select-icon', icon]"></i>
          <div v-if="loading" class="select-spinner spinner-border spinner-border-sm">
            <span class="sr-only">Loading...</span>
          </div>
          <input
            :placeholder="__('ve-select.search')"
            class="form-control"
            type="text"
            v-model="searchValue"
            ref="search-field"
            autocomplete="no"
            @input="$emit('on-search', searchValue)"
          >
        </div>

        <ul>
          <li v-if="!ignoreFilter" v-show="searchable && filteredOptions.length === 0" class="v-dropdown-item">{{ __("ve-select.noresults", searchValue) }}</li>
          <li v-if="showDefaultOption" class="v-dropdown-item disabled default-option">{{ labelTitle }}</li>
          <li
            v-for="(option, index) in filteredOptions"
            :key="`v-select-${index}`"
            class="v-dropdown-item"
            :class="{'selected' : isSelectedOption(option, index), 'disabled': option[disabledProp]}"
            @click="onSelect(option, index)"
          >{{ getOptionLabel(option) }}</li>
        </ul>

      </div>
    </div>

    <input ref="field" :value="value" class="form-control" style="display: none;" type="text">

    <div v-if="!validation.status" class="invalid-feedback">{{ __(validation.key, validation.args) }}</div>
  </div>
</template>

<script>
import { mixin as clickaway } from "vue-clickaway"
import { validate } from "../../validations"

export default {
  name: "ve-select",
  mixins: [clickaway],
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    disabledProp: {
      type: String,
      default: "disabled"
    },
    options: {
      type: Array,
      default: () => []
    },
    searchable: {
      type: Boolean,
      default: false
    },
    showDefaultOption: {
      type: Boolean,
      default: false
    },
    textProp: {
      type: String,
      default: "text"
    },
    value: {
      type: [Object, String, Number],
      default: null
    },
    valueProp: {
      type: String,
      default: "value"
    },
    rules: {
      type: String,
      default: ""
    },
    icon: {
      type: String,
      default: null
    },
    iconColor: {
      type: String,
      default: "#333"
    },
    loading: {
      type: Boolean,
      default: false
    },
    ignoreFilter: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: ""
    },
	  selectedIndex: {
		  type: Number
	  },
	  autofocusSearch: {
		  type: Boolean,
		  default: true
	  }
  },
  data() {
    return {
      show: false,
      selectedValue: null,
      searchValue: "",
      typeAheadPointer: -1,
      validation: { status: true }
    }
  },
  computed: {
    title() {
      return this.selectedValue
        ? this.getOptionLabel(this.selectedValue)
        : (this.placeholder ? this.placeholder : this.__("ve-select.empty"))
    },

    filteredOptions() {
      if (this.searchable && this.searchValue.length > 0 && !this.ignoreFilter) {
        return this.options.filter(item => {
          if (typeof item === "object") {
            return (
              item[this.textProp]
                .toLowerCase()
                .indexOf(this.searchValue.toLowerCase()) !== -1
            )
          } else {
            return (
              item.toLowerCase().indexOf(this.searchValue.toLowerCase()) !== -1
            )
          }
        })
      }
      return this.options;
    },

    reversedOptions() {
      return [...this.filteredOptions].reverse()
    },

    lastOptionIndex() {
      return this.filteredOptions.length - 1
    }
  },
  watch: {
    value: {
      immediate: true,
      handler(newVal) {
        const index = this.options.findIndex(op =>
          this.isEqualOption(op, newVal)
        )
        this.onSelect(newVal, index, true)
      }
    },
	  selectedIndex: function(newVal) {
		  if(newVal !== undefined)
			  if(this.options.length > newVal) {
          this.selectedValue = this.options[newVal]
          this.performValidation(this.selectedValue instanceof Object ? this.selectedValue.text : this.selectedValue)
          this.$emit('input', this.selectedValue instanceof Object ? this.selectedValue.text : this.selectedValue)
          this.$emit('on-select', this.selectedValue)
        } else {
          console.warn('Selected-index out of array bounds')
        }
	  }
  },
  methods: {
    onSelect(option, index, silent) {
      if (option && !option[this.disabledProp]) {
        this.typeAheadPointer = index
        this.hideDropdown()
        this.performValidation(option instanceof Object ? option.text : option)
        this.$emit('input', option instanceof Object ? option.text : option)
        this.selectedValue = option instanceof Object ? option.text : option
        if(!silent) {
          this.$emit('on-select', option)
        }
      } else if (option === null) {
        this.selectedValue = null
      }
    },

    onEscape() {
      this.hideDropdown()
    },

    isValid() {
      return this.$refs.field && this.$refs.field.checkValidity()
    },

    performValidation(value) {

      if(this.$refs.field){
        this.validation = validate(value, this.rules)

        if(this.validation.status) {
            this.$refs.field.setCustomValidity("")
        }
        else {
            this.$refs.field.setCustomValidity(this.validation.message)
        }
      }
    },

    typeAheadUp() {
      if (!this.show) {
        this.show = true
      }
      if (this.typeAheadPointer > 0) {
        const nextPointer = this.typeAheadPointer - 1
        const option = this.filteredOptions[nextPointer]
        const isDisabled = option ? option[this.disabledProp] || false : false
        if (!isDisabled) {
          this.typeAheadPointer--
        } else {
          this.typeAheadPointer--
          this.typeAheadUp()
        }
      } else {
        const nextEnabledOption = this.reversedOptions.findIndex(
          o => o[this.disabledProp] !== true
        )
        this.typeAheadPointer = this.lastOptionIndex - nextEnabledOption
      }
    },

    typeAheadDown() {
      if (!this.show) {
        this.show = true
      }
      if (this.typeAheadPointer < this.lastOptionIndex) {
        const nextPointer = this.typeAheadPointer + 1
        const option = this.filteredOptions[nextPointer]
        const isDisabled = option ? option[this.disabledProp] || false : false
        if (!isDisabled) {
          this.typeAheadPointer++
        } else {
          this.typeAheadPointer++
          this.typeAheadDown()
        }
      } else {
        const nextEnabledOption = this.filteredOptions.findIndex(
          o => o[this.disabledProp] !== true
        );
        this.typeAheadPointer = nextEnabledOption
      }
    },

    typeAheadSelect() {
      if (this.filteredOptions[this.typeAheadPointer]) {
        this.onSelect(
          this.filteredOptions[this.typeAheadPointer],
          this.typeAheadPointer
        )
      }
    },

    hideDropdown() {
      this.show = false
      this.searchValue = ""
    },

    getOptionLabel(option) {
      if (typeof option === "object") {
        return option[this.textProp]
      }
      return option
    },

    isSelectedOption(option, index) {
      if (this.typeAheadPointer === -1 && this.selectedValue) {
        return this.isEqualOption(option, this.selectedValue)
      }
      return this.typeAheadPointer === index
    },

    isEqualOption(a, b) {
      if (a && b && typeof a === "object" && typeof b === "object") {
        return (
          a[this.textProp] === b[this.textProp] &&
          a[this.valueProp] === b[this.valueProp]
        )
      }
      return a === b;
    },

	  toggle() {
		  if(!this.disabled) {
			  this.show = !this.show
			
			  if(this.searchable && this.autofocusSearch && this.show)
				  this.$nextTick(() => this.$refs['search-field'].focus())
		  }
	  }
  },

  mounted() {
    this.selectedValue = this.value
    
    if(this.selectedIndex !== undefined)
      if(this.options.length > this.selectedIndex) {
        this.selectedValue = this.options[this.selectedIndex]
        this.$emit('input', this.selectedValue instanceof Object ? this.selectedValue.text : this.selectedValue)
        this.$emit('on-select', this.selectedValue)
      } else {
        console.warn('Selected-index out of array bounds')
      }
  
    this.performValidation(this.value)
  }
}
</script>

<style lang="scss">
  .v-dropdown-container > ul {
    max-height: 400px;
    overflow-y: auto;
  }

  .v-select-title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>