<template>
    <div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" 
                :value="value" 
                :checked="value"
                @change="handleInput" 
                @keyup.enter="handleInput"  
                :id="'ve-sw-' + id">
            <label class="custom-control-label" :for="'ve-sw-' + id">
                <!-- Switch label (optional)-->
                <slot><!-- `<label></label>` --></slot>
            </label>
        </div>

        <div v-if="validation_error"
            class="custom-invalid-feedback">{{ __("validation.switch")}}
        </div>
    </div>
</template>

<script>
/**
 * Demo: https://demo-veform.web.verified.eu/#/ve-switch
 */

export default {
    name: "ve-switch",
    props: {
        //The unique id of the switch
        id: {
            type: String,
            required: true
        },
        //The value of the switch
        value: {
            type: Boolean,
            default: false
        },
        //Used to set if the switch is required or not
        rules: {
            type: String,
            default: ""
        }
    },
    data() {
        return {
            validation_error: false,
            valueInData: false
        }
    },
    methods: {
        handleInput(e) {
            if(e.keyCode && e.keyCode === 13) e.srcElement.checked = !e.srcElement.checked

            this.valueInData = e.srcElement.checked ? true : false
            
            // Updates the v-model
            // @arg The argument is a boolean value representing the switch state (on/off)
            this.$emit('input', this.valueInData)

            // Triggers an on-click method if set in component
            // @arg The argument is a boolean value representing the switch state (on/off)
            this.$emit('on-click', this.valueInData)

            this.$forceUpdate()
        },

        performValidation() {
            if(this.rules.includes('required')) {
                if(this.value) {
                    document.getElementById(`ve-sw-${ this.id }`).setCustomValidity('')
                    this.validation_error = false
                } else {
                    document.getElementById(`ve-sw-${ this.id }`).setCustomValidity('Must be switched on')
                    this.validation_error = true
                }
            }
        }
    },
    watch: {
        value: {
            deep: true,
            handler() {
                this.performValidation()
            }
        }
    },
    created() {
        this.$nextTick(() => {
            this.performValidation()
        })
    }
}
</script>

<style>
</style>