<template>
    <div>
        <textarea ref="field" 
            @input="handleInput" 
            :value="value" 
            v-mask="mask"  
            :rows="rows" 
            :maxlength="maxlength" 
            :disabled="disabled" 
            :readonly="readonly" 
            :placeholder="placeholder"
            class="form-control" 
            :blurvalidate="blurvalidate">
        </textarea>

        <div v-if="!validation.status" class="textarea-invalid-feedback">{{ __(validation.key, validation.args) }}</div>
        <div v-if="maxlength" class="textarea-maxlength">{{ value.length }} / {{ maxlength }}</div>
    </div>
</template>

<script>
import { validate } from "../../validations"

export default {
    name: "ve-textarea",
    props: {
        value: {
            type: String,
            default: ""
        },
        maxlength: [String, Number],
        rows: {
            type: String,
            default: "2"
        },
        rules: {
            type: String,
            default: ""
        },
        placeholder: {
            type: String,
            default: ""
        },
        mask: {
            type: null,
            default: ""
        },
        disabled: {
            type: Boolean,
            default: false
        },
        readonly: {
            type: Boolean,
            default: false
        },
        blurvalidate: {
            type: null,
            default: null
        }
    },
    data() {
        return {
            validation: { status: true }
        }
    },
    methods: {
        handleInput(e) {

            this.performValidation(e.srcElement.value)

            this.$emit('input', e.srcElement.value)

        },

        performValidation(value) {
            
            this.validation = validate(value, this.rules)

            if(this.validation.status) {
                this.$refs.field.setCustomValidity("") 
            }
            else {
                this.$refs.field.setCustomValidity(this.validation.message)
            }
                
        },

        validateFieldOnBlur() {

            var field = this.$refs.field;

            field.addEventListener("blur", onBlur, { passive: true });

			function onBlur() {
				field.parentNode.classList.add('was-validated');
				field.removeEventListener("blur", onBlur);
			}

        }

    },
    watch: {
        value: {
            deep: true,
            handler(val) {
                this.performValidation(val)
            }
        }
    },
    mounted() {

        this.performValidation(this.value)

        if (this.blurvalidate !== null) {
            this.validateFieldOnBlur()
        }

    }
}
</script>

<style>

</style>
