<template>
<div>
	<a ref="saveLink" href="" download="download" hidden="hidden"></a>
	<button type="button"
			class="btn btn-rounded btn-primary mt-4"
			@click="save">{{__('ve-memory.save')}}</button>
	<input type="file"
		   ref="loadFile"
		   accept="application/json"
		   @change="load"
		   hidden/>
	<button type="button"
			class="btn btn-rounded btn-primary ml-2 mt-4"
			@click="loadClick">{{__('ve-memory.load')}}</button>
</div>
</template>

<script>
	export default {
		name: "ve-memory",
		props: {
			value: {
				type: Object,
				default() { return {} }
			},
			saveAs: {
				type: Function,
				default: null
			},
			loadAs: {
				type: Function,
				default: null
			}
			/* 
			TODO
			add support for device/browser autosave using localstorage
			*/
		},
		data() {
			return {
				
			}
		},
		methods: {
			onCreated() {},
			onMounted() {},
			save() {
				const blob = new Blob([JSON.stringify(this.value, null, 2)], {type : 'application/json'})
				this.$refs.saveLink.href = URL.createObjectURL(blob)
				let fileDownloadName = new Date().toISOString().replace('T',' ').replace(/\..*/g, '') + '.json'
				if(typeof this.saveAs == 'function') {
					fileDownloadName = this.saveAs()
				}
				this.$refs.saveLink.download = fileDownloadName
				this.$refs.saveLink.click()
			},
			load() {
				const self = this
				const files = this.$refs.loadFile.files
				if(files.length) {
					const reader = new FileReader()
					reader.onload = function() {
						let json = reader.result
						try { json = JSON.parse(reader.result) }
						catch (err) {}
						if (self.loadAs) {
							self.loadAs(json)
						} else {
							for(let li_i in json) {
								let li = json[li_i]
								self.value[li_i] = li
							}
						}
					}
					reader.readAsText(files[0])
				}
			},
			loadClick(){
				this.$refs.loadFile.click()
			}
		},
		watch: {
		},
		created() { this.onCreated() },
		mounted() { this.onMounted() },
	}
</script>

<style lang="scss" scoped>
</style>