<template>
    <form ref="form">
        <slot></slot>
    </form>
</template>

<script>
export default {
    name: "ve-form",
    data() {
        return {
            
        }
    },
    methods: {
        validate() {
            this.$refs.form.classList.add("was-validated")
            return this.$refs.form.checkValidity()
        }
    }
}
</script>

<style>

</style>
