<template>
    <div :class="[
        'col',
        { 'col-1': xs1 },
        { 'col-2': xs2 },
        { 'col-3': xs3 },
        { 'col-4': xs4 },
        { 'col-5': xs5 },
        { 'col-6': xs6 },
        { 'col-7': xs7 },
        { 'col-8': xs8 },
        { 'col-9': xs9 },
        { 'col-10': xs10 },
        { 'col-11': xs11 },
        { 'col-12': xs12 },

        { 'col-sm-1': sm1 },
        { 'col-sm-2': sm2 },
        { 'col-sm-3': sm3 },
        { 'col-sm-4': sm4 },
        { 'col-sm-5': sm5 },
        { 'col-sm-6': sm6 },
        { 'col-sm-7': sm7 },
        { 'col-sm-8': sm8 },
        { 'col-sm-9': sm9 },
        { 'col-sm-10': sm10 },
        { 'col-sm-11': sm11 },
        { 'col-sm-12': sm12 },

        { 'col-md-1': md1 },
        { 'col-md-2': md2 },
        { 'col-md-3': md3 },
        { 'col-md-4': md4 },
        { 'col-md-5': md5 },
        { 'col-md-6': md6 },
        { 'col-md-7': md7 },
        { 'col-md-8': md8 },
        { 'col-md-9': md9 },
        { 'col-md-10': md10 },
        { 'col-md-11': md11 },
        { 'col-md-12': md12 },

        { 'col-lg-1': lg1 },
        { 'col-lg-2': lg2 },
        { 'col-lg-3': lg3 },
        { 'col-lg-4': lg4 },
        { 'col-lg-5': lg5 },
        { 'col-lg-6': lg6 },
        { 'col-lg-7': lg7 },
        { 'col-lg-8': lg8 },
        { 'col-lg-9': lg9 },
        { 'col-lg-10': lg10 },
        { 'col-lg-11': lg11 },
        { 'col-lg-12': lg12 },

        { 'col-xl-1': xl1 },
        { 'col-xl-2': xl2 },
        { 'col-xl-3': xl3 },
        { 'col-xl-4': xl4 },
        { 'col-xl-5': xl5 },
        { 'col-xl-6': xl6 },
        { 'col-xl-7': xl7 },
        { 'col-xl-8': xl8 },
        { 'col-xl-9': xl9 },
        { 'col-xl-10': xl10 },
        { 'col-xl-11': xl11 },
        { 'col-xl-12': xl12 }

    ]"><slot></slot></div>
</template>

<script>
export default {
    name: "ve-col",
    props: {
        xs1: { type: Boolean, default: false },
        xs2: { type: Boolean, default: false },
        xs3: { type: Boolean, default: false },
        xs4: { type: Boolean, default: false },
        xs5: { type: Boolean, default: false },
        xs6: { type: Boolean, default: false },
        xs7: { type: Boolean, default: false },
        xs8: { type: Boolean, default: false },
        xs9: { type: Boolean, default: false },
        xs10: { type: Boolean, default: false },
        xs11: { type: Boolean, default: false },
        xs12: { type: Boolean, default: false },

        sm1: { type: Boolean, default: false },
        sm2: { type: Boolean, default: false },
        sm3: { type: Boolean, default: false },
        sm4: { type: Boolean, default: false },
        sm5: { type: Boolean, default: false },
        sm6: { type: Boolean, default: false },
        sm7: { type: Boolean, default: false },
        sm8: { type: Boolean, default: false },
        sm9: { type: Boolean, default: false },
        sm10: { type: Boolean, default: false },
        sm11: { type: Boolean, default: false },
        sm12: { type: Boolean, default: false },

        md1: { type: Boolean, default: false },
        md2: { type: Boolean, default: false },
        md3: { type: Boolean, default: false },
        md4: { type: Boolean, default: false },
        md5: { type: Boolean, default: false },
        md6: { type: Boolean, default: false },
        md7: { type: Boolean, default: false },
        md8: { type: Boolean, default: false },
        md9: { type: Boolean, default: false },
        md10: { type: Boolean, default: false },
        md11: { type: Boolean, default: false },
        md12: { type: Boolean, default: false },

        lg1: { type: Boolean, default: false },
        lg2: { type: Boolean, default: false },
        lg3: { type: Boolean, default: false },
        lg4: { type: Boolean, default: false },
        lg5: { type: Boolean, default: false },
        lg6: { type: Boolean, default: false },
        lg7: { type: Boolean, default: false },
        lg8: { type: Boolean, default: false },
        lg9: { type: Boolean, default: false },
        lg10: { type: Boolean, default: false },
        lg11: { type: Boolean, default: false },
        lg12: { type: Boolean, default: false },

        xl1: { type: Boolean, default: false },
        xl2: { type: Boolean, default: false },
        xl3: { type: Boolean, default: false },
        xl4: { type: Boolean, default: false },
        xl5: { type: Boolean, default: false },
        xl6: { type: Boolean, default: false },
        xl7: { type: Boolean, default: false },
        xl8: { type: Boolean, default: false },
        xl9: { type: Boolean, default: false },
        xl10: { type: Boolean, default: false },
        xl11: { type: Boolean, default: false },
        xl12: { type: Boolean, default: false },
    },
    data() {
        return {

        }
    },
}
</script>

<style lang="scss" scoped>


</style>
