<template>
    <div class="row"><slot></slot></div>
</template>

<script>
export default {
    name: "ve-row",
    props: {
    },
    data() {
        return {

        }
    },
}
</script>

<style lang="scss" scoped>


</style>
