<template>
<div :class="['container', 'error', visible && (errors.length > 0 || !!this.$slots.default) ? 'visible' : '']"
     :style="background ? `background: ${background}` : ''">
	
	<div class="row justify-content-center">
		
		<ve-col xs12
		        md8
		        class="error-container">
			
			<ve-card>
				
				<ve-alert icon="warning"
				          type="danger"
				          v-for="(exc, i) in errors"
				          :key="i">{{ exc.stack || exc.msg || exc.name || exc }}</ve-alert>
				
				<slot name="default"></slot>
			</ve-card>
		</ve-col>
	</div>
</div>
</template>

<script>
export default {
	name: 've-error',
	props: {
		background: {
			type: String,
			default: '#F4F4F4D9'
		},
		errors: {
			type: Array,
			default: () => []
		},
		visible: {
			type: Boolean,
			default: true
		}
	}
}
</script>

<style lang="scss"
       scoped>

.error {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	cursor: not-allowed;
	z-index: 100;
	opacity: 0;
	transition: opacity .5s ease;
	
	&.visible {
		opacity: 1;
		pointer-events: inherit;
	}
	
	& .error-container {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		cursor: default;
		
		&::v-deep .alert-slot {
			white-space: pre-wrap;
			word-break: break-all;
			
			&::first-line {
				font-weight: 600;
			}
		}
	}
}
</style>