<template>
    <div class="text-center">
        <div @click="handleClick('remove')" :class="['btn-minus', { 'btn-minus-gray': length===min }]">-</div>
        {{length}}
        <div @click="handleClick('add')" :class="['btn-plus', { 'btn-plus-gray': length===max }]">+</div>
    </div>
</template>

<script>
export default {
    name: "ve-counter",
    props: {
        length : {
            type: Number,
            default: null
        },
        max : {
            type: Number,
            default: 10
        },
        min : {
            type: Number,
            default: 0
        }
    },
    data() {
        return {

        }
    },
    methods: {
        handleClick(action) {
            if(action==='add') {
                if(this.length!==this.max)
                    this.$emit('on-add')
            } else if(action==='remove') {
                if(this.length!==this.min)
                    this.$emit('on-remove')
            }
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
