<template>
    <div class="container main">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "ve-body",
    props: {
    },
    data() {
        return {

        }
    },
}
</script>

<style lang="scss" scoped>

</style>
