<template>
    <div>
        <label :class="required ? 'required':''">{{label}}<slot></slot>
            <button v-if="tip" type="button" data-toggle="tooltip"
                :class="tip['tip-position']=='left' ? 'tooltip-left' : 'tooltip-right'"
                :data-offset="tip.offset||0"
                :data-placement="tip['text-placement']||'top'"
                :data-trigger="tip.trigger||'hover focus'"
                :data-html="tip.html ? 'true' : 'false'"
                :data-original-title="__(tip.text||tip.html)||tip.text||tip.html"></button>
        </label>
    </div>
</template>

<script>
/**
 * Documentation: https://getbootstrap.com/docs/4.1/components/tooltips/
 */

export default {
    name: "ve-label",
    props: {
        required: {
            type: Boolean,
            default: false
        },
        label: [String],
        tip: {
            type: Object,
            default: undefined
        }
    },
    mounted() {
        if(this.tip) {
            /** 
             * Removing sanitize is a workaround for it to be compatible with IE. 
             * Source: https://stackoverflow.com/questions/56462877/popover-angular-bootstrap-4-3-failure
             */
            $('[data-toggle="tooltip"]').tooltip({
                sanitize: false, sanitizeFn: content => content
            })
        }
    }
}
</script>

<style lang="scss" scoped>

</style>