<template>
    <div class="form-group"><slot></slot></div>
</template>

<script>
export default {
    name: "ve-form-group",
    props: {
    },
    data() {
        return {

        }
    },
}
</script>

<style lang="scss" scoped>


</style>
