<template>
    <div class="container py-4">
        <div class="row">
            <ve-col xs12>
                <div class="card border-0 shadow-sm">
                    <div class="card-body pb-2">
                        <div v-if="headline" class="header">
                            <span>{{headline}}</span>
                        </div>
                        <slot></slot>
                    </div>
                </div>
            </ve-col>
        </div>
    </div>
</template>

<script>
export default {
    name: "ve-card",
    props: {
        headline : {
            type: String,
            default: undefined
        }
    },
    data() {
        return {

        }
    },
}
</script>

<style lang="scss" scoped>
</style>
