<template>
<div>
    <div :class="['alert', type ? 'alert-' + type : 'alert-primary', dismissible ? ' alert-dismissible' : '']" role="alert">
        <div v-if="icon==='info'" class="iconify fs-24" data-icon="bi:info-circle" data-inline="false"></div>
        <div v-if="icon==='check'" class="iconify fs-25" data-icon="ic:baseline-check" data-inline="false"></div>
        <div v-if="icon==='danger'" class="iconify fs-24" data-icon="bi:exclamation-triangle-fill" data-inline="false"></div>
        <div v-if="icon==='warning'" class="iconify fs-24" data-icon="bi:exclamation-circle" data-inline="false"></div>
        <div v-if="icon==='mail'" class="iconify fs-24" data-icon="ic:baseline-mail-outline" data-inline="false"></div>
        
        <div class="alert-slot">
            <p v-if="text">{{text}}</p>
            <slot></slot>
        </div>

        <a v-if="dismissible" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
</div>
</template>

<script>

export default {
    name: 've-alert',
    props: {
        icon: {
            type: String,
            default: 'search'
        },
        type: {
            type: String,
            default: 'info'
        },
        text: {
            type: String,
            default: ''
        },
        dismissible: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style lang="scss" scoped>
</style>