<template>
    <ve-col v-bind="colProps">
        <ve-form-group v-bind="formGroupProps">
            <ve-label v-bind="labelProps"></ve-label>
            <ve-input @input="$emit('input', $event)" v-bind="inputProps"></ve-input>
        </ve-form-group>
    </ve-col>
</template>

<script>

import { validate } from "../../validations"
import Col from "../grid/Col.vue"
import FormGroup from "../formgroup/FormGroup.vue"
import Label from "../label/Label.vue"
import Input from "../input/Input.vue"

Object.filter = (obj, predicate) => {

    let result = {}, key

    for(key in obj) {
        if (predicate.hasOwnProperty(key)) {
            result[key] = obj[key]
        }
    }

    return result
}

export default {
    
    name: "ve-input-field",

    components: {
        "ve-col": Col,
        "ve-form-group": FormGroup,
        "ve-label": Label,
        "ve-input": Input
    },

    props: {
        ...Col.props,
        ...FormGroup.props,
        ...Label.props,
        ...Input.props
    },

    computed: {
        colProps() { return Object.filter(this, Col.props) },
        formGroupProps() { return Object.filter(this, FormGroup.props) },
        labelProps() { return Object.filter(this, Label.props) },
        inputProps() { return Object.filter(this, Input.props) }
    }
    
}

</script>