<template>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="container">
            <slot></slot>
        </div>
    </nav>
</template>

<script>
export default {
    name: "ve-header",
    data() {
        return {
            
        }
    }
}
</script>

<style lang="scss" scoped>

.navbar {
    min-height: 60px;
}

</style>
