<template>
    <div>
        <h1 class="headline" :style="{ 'font-size': size ? size : '1.125rem' }" >{{headline}}</h1>
        <button v-if="tip" type="button" data-toggle="headline-tooltip"
            :class="tip['tip-position']=='left' ? 'tooltip-left' : 'tooltip-right'"  
            :data-offset="tip.offset||0"
            :data-placement="tip['text-placement']||'top'"
            :data-trigger="tip.trigger||'hover focus'"
            :data-html="tip.html ? true : false"
            :title="__(tip.text||tip.html)||tip.text||tip.html"></button>
    </div>
</template>

<script>
export default {
    name: "ve-headline",
    props: {
        headline: [String],
        size: [String],
        tip: {
            type: Object,
            default: undefined
        }
    },
    mounted() {
        if(this.tip) {
            $('[data-toggle="headline-tooltip"]').tooltip({
                sanitize: false, sanitizeFn: content => content
            })
        }
    }
}
</script>

<style lang="scss" scoped>
</style>