$primary: #238ccc;
$highlight: #279ae0;

input[readonly="readonly"],
input[disabled="disabled"] ~ label {
	cursor: not-allowed;
}

button.with-loader {
	padding-left: 1.75rem !important;
	padding-right: 0 !important;
	
	&.loading {
		padding-right: 1.25rem !important;
		background-color: transparent;
		color: var(--primary);
	}
	
	& img {
		height: 1.25rem;
		vertical-align: sub;
		margin-left: .5rem;
		transition-delay: .1s;
	}
}

.smooth, .smooth * {
	transition: all .5s ease;
	
	&.delay, & .delay {
		transition-delay: .5s;
	}
}

.card {
	&.complete {
		border-color: var(--primary);
	}
	
	&.screening-error {
		border-color: #c31200;
	}
}

.v-select.disabled .v-select-toggle {
	border-color: #ced4da !important;
	opacity: 1 !important;
	
	& .arrow-down {
		opacity: 0 !important;
	}
}

.btn-minus {
	padding: 0 6px 4px 6px !important;
	font-size: 23px !important;
}

.btn-plus {
	padding: 2px 4px 2px 4px !important;
	font-size: 20px !important;
	transform: translateY(1px) !important;
}

.btn-minus, .btn-plus {
	border: 1px solid var(--primary) !important;
	background-color: var(--primary) !important;
	user-select: none !important;
	
	&:not(.btn-minus-gray):not(.btn-plus-gray):hover {
		border-color: var(--highlight) !important;
		background-color: var(--highlight) !important;
	}
}

.btn-plus-gray, .btn-minus-gray {
	border-color: #c1c1c1 !important;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: var(--primary) !important;
}