<template>
<ve-form class="smooth"
         ref="form"
         @submit.prevent>
	
	<div class="card mb-5 pep-search-card"
	     :class="{ 'shadow-sm': enableShadow, 'complete': enableProgressHighlight && submitting }">
		<div class="card-body">
			
			<div class="row">
				<ve-col xs12>
					<ve-form-group>
						<label>{{__('company_name')}}</label>
						<ve-brreg v-model="companyName"
						          :placeholder="__('company_search_placeholder')"
						          :disabled="aml !== undefined"
						          @on-select="company = $event"
						          v-if="aml === undefined || (aml !== undefined && companyName)"></ve-brreg>
						<ve-input v-model="aml.keyInformation.name"
						          :readonly="true"
						          v-else></ve-input>
					</ve-form-group>
				</ve-col>
			</div>
			
			<div class="row"
			     style="text-align: center"
			     v-if="!aml">
				<ve-col xs12>
					<button type="button"
					        class="btn btn-rounded btn-primary my-2 with-loader pep-searchbar-button"
					        :class="{ loading: loadingAml }"
					        :disabled="submitting || loadingAml || aml || !company"
					        @click="getRoles()">
						{{ __('screening_fetch') }}
						<img src="//app.verified.eu/lib/iframes/common/assets/loader64.gif"
						     :style="{ opacity: loadingAml ? 1 : 0 }">
					</button>
				</ve-col>
			</div>
		
		</div>
	</div>
	
	<div class="card mb-4 pep-card"
	     :class="{ 'shadow-sm': enableShadow, 'screening-error': role.noScreening !== undefined, 'complete': role.screening !== undefined }"
	     :style="{ opacity: role.dontInclude && role.dontInclude.value ? .5 : 1 }"
	     v-for="(role, i) in roles"
	     :key="i">
		<div class="card-body pb-1">
			
			<div class="row">
				
				<ve-col xs12
				        md3>
					<ve-form-group>
						<label>{{__('first_name')}}</label>
						<ve-input v-model="role.firstName"
						          :blurvalidate="true"
						          :readonly="role.role !== undefined || submitting"
						          rules="required"></ve-input>
					</ve-form-group>
				</ve-col>
				
				<ve-col xs12
				        md3>
					<ve-form-group>
						<label>{{__('last_name')}}</label>
						<ve-input v-model="role.lastName"
						          :blurvalidate="true"
						          :readonly="role.role !== undefined || submitting"
						          rules="required"></ve-input>
					</ve-form-group>
				</ve-col>
				
				<ve-col xs12
				        md3>
					<ve-form-group>
						<label>{{__('dob')}}</label>
						<ve-input v-model="role.dateOfBirth"
						          :blurvalidate="true"
						          :placeholder="role.role ? __('screening_no_dob_placeholder') : __('screening_dob_placeholder')"
						          :readonly="role.role !== undefined || submitting"
						          :mask="'####-##-##'"
						          :rules="role.role ? '' : 'required|min:10|max:10'"></ve-input>
					</ve-form-group>
				</ve-col>
				
				<ve-col xs12
				        md3>
					<ve-form-group>
						<label>{{__('role')}}</label>
						<ve-input v-model="role.manualRole"
						          :blurvalidate="true"
						          :placeholder="role.role ? __(role.role) : ''"
						          :readonly="role.role !== undefined || submitting"
						          rules="required"></ve-input>
					</ve-form-group>
				</ve-col>
			</div>
			
			<div class="row">
				
				<ve-col xs12
				        md3
				        v-if="role.role !== undefined">
					<ve-form-group class="mt-2">
						<ve-checkbox v-model="role.dontInclude"
						             :options="{ 'value': { label: __('screening_exclude_from_search') } }"
						             :disabled="role.noScreening !== undefined || role.screening !== undefined || submitting"
						             @input="update">
						</ve-checkbox>
					</ve-form-group>
				</ve-col>
				
				<ve-col xs12
				        md3>
					<ve-form-group class="mt-2 mb-4">
						<ve-checkbox v-model="role.doIdControl"
						             :options="{ 'value': { label: __('screening_do_id_control') } }"
						             :disabled="role.noScreening !== undefined || role.screening !== undefined || submitting || idControlSheetName === undefined"
						             @input="update">
						</ve-checkbox>
					</ve-form-group>
				</ve-col>
				
				<ve-col xs3
				        v-show="role.role === undefined">
				</ve-col>
				
				<ve-col xs12
				        md6
				        v-if="role.doIdControl.value">
					<ve-form-group>
						<ve-input v-model="role.email"
						          :blurvalidate="true"
						          :placeholder="__('screening_email')"
						          :readonly="submitting"
						          rules="required|email"
						          @input="update"></ve-input>
					</ve-form-group>
				</ve-col>
			
			</div>
		</div>
	</div>
	
	<div class="row"
	     style="text-align: center">
		<ve-col xs12>
			<ve-counter class="my-3"
			            style="user-select: none"
			            :length="roles.length"
			            :min="(aml && aml.rolesFromAml) || 0"
			            :max="100"
			            @on-remove="roles.pop()"
			            @on-add="roles.push({ dontInclude: { value: undefined }, doIdControl: { value: undefined } })"></ve-counter>
		</ve-col>
	</div>
	
	<div class="row"
	     style="text-align: center">
		<ve-col xs12>
			<button type="button"
			        class="btn btn-rounded btn-primary mt-4 with-loader pep-submit-button"
			        :class="{ loading: submitting, 'shadow-sm': enableShadow }"
			        :disabled="!roles.length || !formIsValid() || loadingAml || submitting"
			        @click="submit">
				{{ (__('screening_submit') || '').replace(/{x}/g, roles.length) }}
				<img src="//app.verified.eu/lib/iframes/common/assets/loader64.gif"
				     :style="{ opacity: submitting ? 1 : 0 }">
			</button>
		</ve-col>
	</div>

</ve-form>
</template>

<script>
import { oidc, auth, envelopes } from '@verified/libvf'
import remote from '@verified/libvf/src/helpers/remote'

export default {
	name: 've-screening',
	props: {
		
		// Which company should be searched on. Changing this will trigger company search
		orgNr: {
			type: [String, Number]
		},
		
		// For programatically adding people without using company search
		people: {
			type: Array,
			default: function() { return [] }
		},
		
		// Which sheet to use for the (optional) ID control
		idControlSheetName: {
			type: String
		},
		
		// Controls if the company search bar is enabled
		enableSearchBar: {
			type: Boolean,
			default: false
		},
		
		// Controls shadow on the person container cards and submit button
		enableShadow: {
			type: Boolean,
			default: true
		},
		
		// Controls if the search progress should be highlighted with borders (override with CSS)
		enableProgressHighlight: {
			type: Boolean,
			default: true
		}
	},
	data() {
		
		return {
			exceptions: [],
			org: undefined,
			roles: [],
			companyName: undefined,
			company: undefined,
			loadingAml: false,
			aml: undefined,
			submitting: false
		}
	},
	
	watch: {
		
		exceptions: function(newVal) {
			if(newVal && newVal.length)
				this.$emit('exception', newVal[newVal.length - 1])
		},
		
		orgNr: function(newVal) {
			this.org = newVal && newVal.replace(/\s/g, '') || ''
			this.getRoles(true)
		},
		
		company: function(newVal) {
			this.org = newVal && newVal.organisasjonsnummer
		},
		
		people: function(newVal) {
			if(newVal && newVal.length)
				this.roles = newVal
		},
		
		roles: function() {
			this.update()
		}
	},
	
	methods: {
		
		// Retrieve company roles from AML
		async getRoles(setFromProp) {
			
			if(!this.org || (this.org && this.org.length !== 9))
				return this.exceptions.push(new Error('Invalid organization number, must be 9 digits'))
			
			this.loadingAml = true
			
			try {
				await oidc.norway.getCompanyInfo(this.org, ['ownership.beneficial', 'ownership.shareholders', 'authorizations', 'authorities', 'officialRoles']).then((d) => {
					
					console.log('AML:', d)
					this.aml = d
					this.aml.date = new Date().toLocaleString()
					this.$emit('aml', this.aml)
					
					this.roles = []
					
					if(d.authorities) {
						
						// Add people with signature rights
						if(d.authorities.signatureRights && d.authorities.signatureRights.options
							&& d.authorities.signatureRights.options[0] && d.authorities.signatureRights.options[0].required)
							d.authorities.signatureRights.options[0].required.forEach((el) => {
								this.roles.push({ ...el, role: 'screening_role_sign_right' })
							})
						
						// Add people with procura
						if(d.authorities.powerOfProcuration && d.authorities.powerOfProcuration.options
							&& d.authorities.powerOfProcuration.options[0] && d.authorities.powerOfProcuration.options[0].required)
							d.authorities.powerOfProcuration.options[0].required.forEach((el) => {
								this.roles.push({ ...el, role: 'screening_role_procura' })
							})
					}
					
					if(d.officialRoles) {
						
						// Add CEO without duplicates
						if(d.officialRoles.ceo && d.officialRoles.ceo.name)
							if(this.roles.find((el) => { return el.name === d.officialRoles.ceo.name }) === undefined)
								this.roles.push({ ...d.officialRoles.ceo, role: 'ceo' })
						
						// Add chairman without duplicates
						if(d.officialRoles.chairman && d.officialRoles.chairman.name)
							if(this.roles.find((el) => { return el.name === d.officialRoles.chairman.name }) === undefined)
								this.roles.push({ ...d.officialRoles.chairman, role: 'chair' })
						
						// Add deputy chairman without duplicates
						if(d.officialRoles.deputyChairman && d.officialRoles.deputyChairman.name)
							if(this.roles.find((el) => { return el.name === d.officialRoles.deputyChairman.name }) === undefined)
								this.roles.push({ ...d.officialRoles.deputyChairman, role: 'screening_role_deputy_chairman' })
						
						// Add owner without duplicates
						if(d.officialRoles.proprietor && d.officialRoles.proprietor.name)
							if(this.roles.find((el) => { return el.name === d.officialRoles.proprietor.name }) === undefined)
								this.roles.push({ ...d.officialRoles.proprietor, role: 'proprietor' })
						
						// Add board members without duplicates
						if(d.officialRoles.boardMembers && d.officialRoles.boardMembers.length)
							d.officialRoles.boardMembers.forEach((el) => {
								if(this.roles.find((elem) => { return elem.name === el.name }) === undefined)
									this.roles.push({ ...el, role: 'screening_role_board_member' })
							})
						
						// Add deputy board members without duplicates
						if(d.officialRoles.deputyBoardMembers && d.officialRoles.deputyBoardMembers.length)
							d.officialRoles.deputyBoardMembers.forEach((el) => {
								if(this.roles.find((elem) => { return elem.name === el.name }) === undefined)
									this.roles.push({ ...el, role: 'screening_role_deputy_board_member' })
							})
						
					}
					
					if(d.ownership) {
						
						// Add RRHs without duplicates
						if(d.ownership.beneficial && d.ownership.beneficial.length)
							d.ownership.beneficial.forEach((el) => {
								if(this.roles.find((elem) => { return elem.name === el.name }) === undefined)
									this.roles.push({ ...el, role: 'screening_role_rrh' })
							})
						
						// Add shareholders without duplicates
						if(d.ownership.shareholders && d.ownership.shareholders.length)
							d.ownership.shareholders.forEach((el) => {
								if(el.type === 'PERSON' && this.roles.find((elem) => { return elem.name === el.name }) === undefined)
									this.roles.push({ ...el, role: 'screening_role_shareholder' })
							})
					}
					
					// Disallow deleting people from AML
					this.aml.rolesFromAml = this.roles.length
					
					this.roles.forEach((el) => {
						
						// Disable searching for people without dateOfBirth (often companies with (S) in the name) and add reactivity objects
						el.dontInclude = { value: el.dateOfBirth === undefined }
						el.doIdControl = { value: undefined }
						el.email = undefined
						
						// Split name if first and last name is not provided from the result
						if(el.firstName === undefined)
							el.firstName = (el.name || '').split(' ').slice(1).join(' ')
						if(el.lastName === undefined)
							el.lastName = (el.name || '').split(' ')[0]
					})
					
					if(!setFromProp)
						this.companyName = this.aml.keyInformation && this.aml.keyInformation.name || ''
					
					this.loadingAml = false
				})
			} catch(e) {
				return this.exceptions.push(new Error('Couldn\'t fetch data from AML, are you missing c= in URL?'))
			}
		},
		
		// Update the UI
		update() {
			this.$nextTick(() => {
				this.$forceUpdate();
				this.formIsValid()
			})
		},
		
		// Check form validity without adding .was-validated as a class
		formIsValid() {
			return this.$refs['form'] && this.$refs['form'].$refs && this.$refs['form'].$refs['form'] && this.$refs['form'].$refs['form'].checkValidity()
		},
		
		// Creates an ID-control envelope and sends it to the given recipient
		async sendIdControl(recipient) {
			
			console.log("Sending ID control:", recipient.firstName, recipient.lastName, recipient.email)
			
			let tokenHolder = auth.token
			
			try {
				
				let envelope = await envelopes.create('bankid-aml-editor')
				let bearerToken = await envelope.getBearerToken('/flows/only-editors-flow')
				auth.setToken(bearerToken)
				await envelope.reflect()
				
				await envelope.addRecipient({
					givenName: recipient.firstName || ' ',
					familyName: recipient.lastName || ' ',
					email: recipient.email,
					language: this.$root.locale,
					signingMethod: 'email',
					role: {
						action: 'edit',
						label: 'Utføre ID-kontroll',
						name: 'editor'
					}
				})
				
				await envelope.firstTemplate().setUserData({
					sheetName: this.idControlSheetName,
					_isForwarded: true
				})
				
				await envelope.firstDocument().put({
					name: (this.__('screening_filename') || '').replace('{firstname}', recipient.firstName).replace('{lastname}', recipient.lastName) || 'ID-control'
				})
				
				await envelope.publish()
				
				auth.setToken(tokenHolder)
			} catch(err) {
				auth.setToken(tokenHolder)
				this.exceptions.push(new Error(`Error when sending ID control to ${ el.firstName } ${ el.lastName } ${ el.dateOfBirth }`))
			}
		},
		
		// Perform screening and emit result to parent
		async submit() {
			
			if(!this.formIsValid())
				return
			
			this.submitting = true
			
			// Perform screening on selected people
			let results = []
			for(let el of this.roles)
				if(!el.dontInclude.value) {
					
					// Add delay between each search to make the completion statuses look smoother
					await new Promise((resolve) => { setTimeout(resolve, 250) })
					
					console.log('Screening:', el.firstName, el.lastName, el.dateOfBirth)
					
					results.push(remote.call({
						path: `/bankid-oidc/person/noauth?expands=aml&firstName=${ el.firstName }&lastName=${ el.lastName }&dateOfBirth=${ (el.dateOfBirth || '').replace(/-/g, '') }`,
						method: 'GET'
					}).then((d) => {
						if(d.data && d.data.personData)
							el.screening = d.data.personData
						else
							throw new Error(`No personData from screening`)
					}).catch((e) => {
						el.noScreening = this.__('screening_no_screening')
						this.exceptions.push(new Error(`Unable to perform screening on ${ el.firstName } ${ el.lastName } ${ el.dateOfBirth }`))
					}).finally(() => {
						this.update()
					}))
				} else {
					console.log('Skipped screening:', el.firstName, el.lastName, el.dateOfBirth || '')
				}
			
			Promise.all(results).then((el) => {
				console.log('Screening done')
			})
			
			for(let role of this.roles.filter((el) => { return el.doIdControl && el.doIdControl.value }))
				await this.sendIdControl(role)
			
			console.log('ID controls done')
			
			await Promise.all(results)
			this.$emit('submit', this.roles)
		}
	},
	
	async mounted() {
		
		if(this.people.length)
			this.roles = this.people
		
		this.org = this.orgNr
		if(this.org)
			this.getRoles(true)
	}
}
</script>