.alert {
    display:flex;
}

p {
    margin-bottom: 0;
}

.alert-slot { 
    margin-top: 3px;
    margin-left:25px
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.alert-info {
    color: #11486a !important;
    background-color: #d3e8f5 !important;
	border-color: #c1dff0 !important;
	font-size: 14px;
}

.alert-success {
    color: #1b6a11 !important;
    background-color: #d3f5d5 !important;
	border-color: #d3f5d5 !important;
	font-size: 14px;
}

.alert-info-dark {
    color: #fff;
    background-color: #238ccc;
    border-color: #238ccc
}

.alert-success-dark {
    color: #fff;
    background-color: #00cb00;
    border-color: #00cb00
}


.alert-warning-dark {
    color: #fff;
    background-color: #e4d33d;
    border-color: #e4d33d
}

.alert-danger-dark {
    color: #fff;
    background-color: #ff5252 !important;
    border-color: #ff5252 !important
}

.alert-danger, 
.alert-warning,
.alert-warning-dark,
.alert-danger-dark,
.alert-info-dark,
.alert-success-dark {
	font-size: 14px;
}