.cursor-pointer {
	cursor: pointer;
}
.btn-link {
	padding: 0;
	border: 0;
	cursor: pointer;
}

.btn {
    padding: 8px 20px !important;
    font-weight: 500;
	letter-spacing: 0.3px;
	&:disabled,	&.disabled {
		cursor: not-allowed;
	}
}
// --------------------------------------------------------------- default buttons
@mixin btn-hover($color){
	background-color: darken($color, 10%); 
	border-color: darken($color, 10%); 
}
.btn-primary,
.btn-secondary,
.btn-danger {
	color: #FFF;
	&:disabled,
	&.disabled {
		color: $secondary;
		background-color: $light;
		border-color: $light;
	}
}
// --------------------------------------------------------------- outline buttons
@mixin btn-outline-hover($color){
	background-color: rgba(darken($color, 10%), 0.05); 
}

@mixin btn-outline-color($color){
	color: $color;
	border-color: $color;
	&:hover,
	&:active {
		&:not(:disabled):not(.disabled) {
			color: $color;
			border-color: $color;
			@include btn-outline-hover($color);
		}
	}
}

.btn-outline-primary {@include btn-outline-color($primary); }
.btn-outline-danger  {@include btn-outline-color($danger); }
.btn-outline-white {
	border-color: white;
	color: white;
	background-color: transparent;
	&:hover {
		color: white;
		border-color: white;
		background-color: rgba(white, 0.1);
	}
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-danger {
	&:disabled, &.disabled {
		&, &:hover {
			color: $secondary;
			border-color: $light;
			background-color: transparent;
		}
	}
}

// --------------------------------------------------------------- rounded buttons
.btn-rounded,
.btn-round {
	border-radius: $input-height;
}
// --------------------------------------------------------------- round buttons
.btn-round {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: $input-height;
	height: $input-height;
	overflow: hidden;
	padding: 0;
}
// --------------------------------------------------------------- button group 
.btn-group button:not(.btn-rounded) {
	background-color: $body-bg;
	flex: 1 1 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px solid $body-bg;
	& + button {
		margin-left: -3px;
	}
	&.active {
		background-color: #fff;
		color: $primary;
		border: 3px solid $body-bg;
	}
}
// --------------------------------------------------------------- button group rounded
.btn-group button.btn-rounded {
	background-color: transparent;
	flex: 1 1 auto;
	border: 1px solid $primary;
	color: $primary;
	&:hover {
		@include btn-outline-hover($primary);
	}

	&.active {
		color: #fff;
		background-color: $primary;
		&:hover {
			@include btn-hover($primary);
		}
	}
	&:disabled, &.disabled {
		border-color: $text-muted;
		color: $body-color;
		&:hover {
			background-color: transparent;
		}
		&.active {
			background-color: $text-muted;
			border-color: $text-muted;
		}
	}
}

// --------------------------------------------------------------- counter buttons
.btn-plus {
	background: $primary;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	padding: 6px;
	font-size: 26px;
	line-height: 15px;
	&:hover {
		cursor: pointer;
		@include btn-hover($primary);
	}
	margin: -5px 5px;
}

.btn-minus {
	background: $primary;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	padding: 6px 9px;
	font-size: 26px;
	line-height: 15px;
	&:hover {
		cursor: pointer;
		@include btn-hover($primary);
	}
	margin: -5px 5px;
}

.btn-plus-gray, .btn-minus-gray {
	background: #c1c1c1 !important;
	&:hover {
		cursor: not-allowed !important;
	}
}