.header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: $primary !important;
    color: #fff;
    margin: -1.25rem;
    margin-bottom: .75rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header span {
    margin-left: 1.25rem;
}