.dropdown-item {
	cursor: pointer;
	color: $body-color;
	padding: 6px 12px;
	font-weight: 300;
	&:first-child {
		border-radius: $border-radius $border-radius 0 0;
	}
	&:last-child {
		border-radius: 0 0 $border-radius $border-radius;
	}
	&:only-child {
		border-radius: $border-radius;
	}
	&:active,
	&.active {
		color: $body-color;
	}
	&:hover {
		background-color: $body-bg;
	}
	&.active {
		&, &:not([href]), &a {
			color: #FFF;
			&:hover {
				background-color: $primary;
				color: #FFF;
			}
		}
	}
	form &, .form & {
		padding: 10px 12px;
	}
	
}
.dropdown {
	display: inline-block;
	vertical-align: top;
}

.dropdown-menu {
	border: 1px solid $light;
    padding: 0;
    max-height: 400px !important;
    overflow: auto;
}
.dropdown-divider {
	margin: 0;
	border-color: $light;
}

@mixin chevron-down($param){
	$color: replace($param, "#", "");
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.02 6.61'%3E%3Cpath d='M10.78.2a.75.75,0,0,0-1.06,0L5.56,4.76,1.3.24a.75.75,0,1,0-1.09,1L5,6.36l.06,0h0l0,0a.74.74,0,0,0,1-.06l4.7-5.1A.75.75,0,0,0,10.78.2Z' style='fill: %23${color}'/%3E%3C/svg%3E");
  background-size: 12px 7px;
}

$chevron-down-width: 0.9rem;

.dropdown-toggle { 
	position: relative;
	&:after {
		border: 0;
		width: $chevron-down-width;
		height: $input-height;
		margin-left: 0;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
    right: $input-padding-x;
    @include chevron-down($secondary); 
  }
  
	&:disabled {
		opacity: 1;
		color: $text-muted;
		&:after {
      @include chevron-down($text-muted);
		}
  }

  
}

.dropdown input {
	background-image: url(https://app.verified.eu/lib/iframes/common/assets/dropdown-arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.v-dropdown-container ul {
	font-size: 12px;
	color: #424242;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	padding: 0px;
	margin: 2px 0px 0px 0px;
  }
  
  .v-select {
	position: relative;
	width: 100%;
	height: 38px;
	cursor: pointer;
  
	&.disabled {
	  cursor: not-allowed;
  
	  .v-select-toggle {
		background-color: #f8f9fa;
		border-color: #f8f9fa;
		opacity: 0.65;
		cursor: not-allowed;
  
		&:focus {
		  outline: 0 !important;
		}
	  }
	}
  }
  
  .v-select-toggle {
	display: flex;
	justify-content: space-between;
	user-select: none;
	padding: 0.375rem 0.75rem;
	color: #212529;
	background-color: #ffffff;
	border: 1px solid #CED4DA;
	border-color: #CED4DA;
	width: 100%;
	text-align: right;
	white-space: nowrap;
	padding: 9px;
	font-size: 12px;
	font-family: inherit, sans-serif;
	line-height: 1.5;
	border-radius: 0.25rem;
	cursor: pointer;
  
	&:hover {
	  background-color: #fefefeec;
	  border-color: rgb(195, 200, 206);
	}
  
	&:focus {
	  color: #495057;
	  background-color: #fff;
	  border-color: #81c3eb;
	  outline: 0;
	  box-shadow: none !important;
	}
  
	&:valid {
	  border-color: #218bcb;
	}
	  
  }
  
  .arrow-down {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	margin-top: 7px;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
  }
  
  .v-dropdown-container {
	position: absolute;
	width: 100%;
	background: red;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.15);
	z-index: 1000;
  }
  
  .v-dropdown-item {
	text-decoration: none;
	line-height: 25px;
	padding: 5px 10px;
	user-select: none;
  
	&:hover:not(.default-option) {
	  background-color: #efefef;
	}
  
	&.disabled {
	  color: #9a9b9b;
	}
  
	&.selected {
	  background-color: #007bff;
	  color: #fff;
  
	  &:hover {
		background-color: #007bff;
		color: #fff;
	  }
	}
  
	&.disabled {
	  cursor: not-allowed;
  
	  &:hover {
		background-color: #fff;
	  }
	}
  }
  
  .v-bs-searchbox {
	padding: 4px 8px;
  
	.form-control {
	  display: block;
	  width: 100%;
	  height: 30px;
	  padding: 0.375rem 0.75rem;
	  font-size: 12px;
	  line-height: 1.5;
	  color: #495057;
	  background-color: #fff;
	  background-clip: padding-box;
	  border: 1px solid #ced4da;
	  border-radius: 0.25rem;
	  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
	  &:focus {
		color: #495057;
		background-color: #fff;
		border-color: #81c3eb;
		outline: 0;
		box-shadow: none;
	  }
  
	  &:valid {
		background-image: none;
		border: 1px solid #ced4da;
	  }
  
	}
  
  }
  
  .was-validated .dropdown-invalid {
	border-color: #b62537;
  }
  
  .was-validated .dropdown-valid {
	border-color: #218bcb;
  }

  .select-icon {
	font-size: 12px;
	right: 15px;
	top: 21px;
	position: absolute;
  }
  
  .select-spinner {
	position: absolute;
	color: #999;
	right: 16px;
	top: 19px;
  }
  
  .select-spinner {
	span: {
	  font-size: 12px;
	}
  }