.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.custom-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #b62537;
    display: none;
}

.was-validated .custom-invalid-feedback {
    display: block;
}

.custom-checkbox-label {
    color: $dark !important;
    line-height: 23px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-position: calc(100% - 5px) calc(.375em + .1875rem);
}

.form-control.is-valid, .was-validated .form-control:valid {
    background-position: calc(100% - 5px) calc(.375em + .1875rem);
}