.stepper {
    border-bottom: 1px solid #ccc;
}

.steps ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
}

.steps ul li {
    display: inline-block;
}

.steps ul li span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0 5px 0;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    line-height: 31px;
    border: 1px solid $primary;
    font-weight: 600;
    color: $primary;
}

.steps ul li.complete span {
    background-color: $primary;
    border-color: $primary;
    color: #f4f4f4;
    &:hover {
        cursor: pointer;
    }
}

.steps ul li.current span {
    color: $primary;
    border: 1px solid $primary;
}

.steps ul li.disabled span {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.steps ul li.viewed span {
    border: 1px solid $primary;
}

.steps ul li span {
    cursor: default;
    border-color: #cccbcb;
    color: #cccbcb;
}

.next-btn {
    margin-top: -5px !important;
    font-weight: 500;
    position: relative;
}

.next-btn .spinner-border {
    width: 20px;
    height: 20px;
    top: 10px;
    position: absolute;
    left: calc(50% - 20px / 2)
}

@media only screen and (max-width: 767px) {
    .btn-col {
        text-align: center !important;
    }
}

@media only screen and (min-width: 768px) {
    .btn-col {
        text-align: right !important;
    }
}

.btn-group .btn-primary {
    color: #fff !important;
    background-color: $primary !important;
    border-color: $primary !important;
}

.btn-group button.btn-rounded:hover {
    opacity: .85;
    transition: all .5s ease,background-position 0s ease;
}

.btn-group button.btn-rounded:disabled {
    color: #999999 !important;
    background-color: #e1e1e1 !important;
    border-color: #e1e1e1 !important;
}

.btn-group .btn-primary:last-child {
	border-left-color: #f4f4f4 !important;
}

.btn-group .btn-primary:first-child {
    border-right-color: #f4f4f4 !important;
}