@import "https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap";

$success: #218bcb !default;
$link-color: #218bcb !default;
$primary: #218bcb !default;
$tooltip: #155780;
$body-color: #444444;
$dark: #444444;
$secondary: #999999;
$info: #999999;
$light: #e1e1e1;
$body-bg: #f4f4f4;
$text-muted: #d5d5d5;
$warning: #edc250;
$danger: #b62537;
$font-family-sans-serif:      'Roboto', sans-serif;
$font-family-header:          'Roboto', sans-serif;
$font-family-base:            $font-family-sans-serif;  
$font-weight-base:            300;   
$line-height-base:            1.5;
$grid-gutter-width:           15px;

$btn-focus-box-shadow: none !important;
$input-focus-box-shadow: none !important;

@import "~bootstrap/scss/bootstrap";

label {
    font-size: 15px;
    margin-bottom: 3px;
}

.form-control {
    padding: 10px 10px;
}

@import "./alert.scss";
@import "./button.scss";
@import "./switch.scss";
@import "./stepper.scss";
@import "./form.scss";
@import "./dropdown.scss";
@import "./label.scss";
@import "./headline.scss";
@import "./tooltip.scss";
@import "./card.scss";
@import "./textarea.scss";
