/* .custom-switch {

    > .custom-control-label {
        &:hover {
            cursor: pointer;
        }
        &::before {
            border: none;
            width: 42px;
            height: 25px;
            border-radius: 160px;
            background: #ccc;
        }
        &::after {
            width: 21px;
            height: 21px;
            border-radius: 50px;
            background-color: #fff;
        }
    }

}

$custom-switch-width: 2;

.custom-switch {
  padding-left: $custom-switch-width + $custom-control-gutter;

  .custom-control-label {
    &::before {
      left: -($custom-switch-width + $custom-control-gutter);
      width: $custom-switch-width;
      pointer-events: all;
      // stylelint-disable-next-line property-blacklist
      border-radius: $custom-switch-indicator-border-radius;
    }

    &::after {
      top: calc(#{(($font-size-base * $line-height-base - $custom-control-indicator-size) / 2)} + #{$custom-control-indicator-border-width * 2});
      left: calc(#{-($custom-switch-width + $custom-control-gutter)} + #{$custom-control-indicator-border-width * 2});
      width: $custom-switch-indicator-size;
      height: $custom-switch-indicator-size;
      background-color: $custom-control-indicator-border-color;
      // stylelint-disable-next-line property-blacklist
      border-radius: $custom-switch-indicator-border-radius;
      @include transition(transform .15s ease-in-out, $custom-forms-transition);
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      background-color: $custom-control-indicator-bg;
      transform: translateX($custom-switch-width - $custom-control-indicator-size);
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
  }
}*/

.custom-switch {
  padding-left: 37px;

  .custom-control-label {
      padding: 5px 10px; 
      
      &::before {
          width: 42px;
          height: 24px;
          border-radius: 42px; 
          border-color: #d5d5d5;
          background-color: #d5d5d5;
      }

      &::after {
          top: 5.75px;
          left: -34.5px;
          width: 20px;
          height: 20px;
          border-radius: 24px;
          transition: 
              transform .15s ease-in-out,
              background-color .15s ease-in-out,  
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out,
              -webkit-transform .15s ease-in-out;

          background-color: #fff;
      }
  }

  .custom-control-input:checked ~ .custom-control-label {
      &::after {
          background-color: #fff;
          transform: translateX(42px -  24px) !important;
      }
  }

  .custom-control-input:disabled {
      &:checked ~ .custom-control-label::before {
          background-color: #e1e1e1;
      }
  }

}
.was-validated .custom-switch .custom-control-input:invalid ~ .custom-control-label::before {
  background-color: #b62537;
  border-color: #b62537;
}