.textarea-maxlength {
    margin-top: 0.25rem;
    float: right;
    font-size: 80%;
}

.textarea-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #b62537;
    display: none;
}

.was-validated .textarea-invalid-feedback {
    display: inline;
}