.tooltip-right {
    position: relative;
    float: right;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid $primary;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    color: $primary;
    font-size: 14px;
    cursor: help;
	padding: 0px !important;
}

.tooltip-left {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid $primary;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    color: $primary;
    font-size: 14px;
    cursor: help;
	padding: 0px !important;
}

.tooltip-right:before, .tooltip-left:before {
    content: "?";
    display: inline-block;
    line-height: 22px;
    vertical-align: top;
    font-weight: bold;
	padding: 0px !important;
}

.tooltip-right:hover, .tooltip-left:hover {
    background: $primary;
    border: 1px solid $primary;
    color: #fff;
}

.tooltip-right:focus, .tooltip-left:focus {
    outline: none;
    background: $primary;
    border: 1px solid $primary;
    color: #fff;
}

.tooltip-inner {
    max-width: 750px !important;
    padding: 10px 20px !important;
    color: #fff !important;
    text-align: left !important;
    background-color: $tooltip !important;
    border-radius: 0.25rem !important;
}

.bs-tooltip-top .arrow:before {
    border-top-color: $tooltip !important;
} 

.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $tooltip !important;
} 

.bs-tooltip-left .arrow:before {
    border-left-color: $tooltip !important;
} 

.bs-tooltip-right .arrow:before {
    border-right-color: $tooltip !important;
} 

.tooltip.show {
    opacity: 1 !important;
}